@import '@styles/variables';

.profile-input {
  position: relative;
  top: 4.6px;

  &__container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  &__label {
    transform: translateY(-21px);
    color: $text-secondary-color;
    font-size: $font-size-005;
    font-weight: 500;
    user-select: none;
    transition: font-size 0.5s, transform 0.5s;
    text-align: center;
  }

  &__element {
    width: 100%;
    border: 0;
    text-align: end;
    color: $text-secondary-color;

    &:focus-visible,
    &:focus {
      outline: none;
    }
  }

  &__text-error {
    transform: translateY(-7px);
    color: $error-color;
    font-size: 8px;
    font-weight: 400;
    display: none;
  }

  &__error &__text-error {
    display: block;
  }

  &__error &__element {
    color: $error-color;
  }

  &__helper-text {
    margin: 0;
    min-height: 8px;
    font-size: $font-size-001;
    line-height: $font-size-001;
    color: $error-color;
    font-weight: 400;
    opacity: 0;

    &_show {
      opacity: 1;
    }
  }
}
