<div class="editable_field {{#if status}}editable_field__{{status}}{{/if}}">
    <label class="editable_field__container">
        {{{input}}}
    </label>
    <p class="editable_field__helper-text">{{help}}</p>
</div>
