@import '@styles/variables';

.editable_field {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 400px;


  &__container {
    display: flex;
    height: 38px;
    flex-direction: column;
    align-content: flex-end;
  }

  &__label {
    transform: translateY(-21px);
    color: $text-secondary-color;
    font-size: $font-size-005;
    font-weight: 500;
    user-select: none;
    transition: font-size 0.5s, transform 0.5s;
  }

  &__helper-text {
    margin: 0;
    min-height: 8px;
    font-size: $font-size-002;
    line-height: $font-size-001;
    color: $error-color;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 30px;

    &_show {
      opacity: 1;
    }
  }

  &__isValid_error {
    transform: translateY(-36px);
    font-size: 9px;
  }

  &__error &__helper-text {
    display: block;
  }
}

