<div class="profile__main-info">
    {{#if isPasswordEdit}}
        {{> ProfileMainInfo key="Старый пароль" type="password" isEdit="true" neme="old_password" }}
        {{> ProfileMainInfo key="Новый пароль" type="password" isEdit="true" name="new_password" }}
        {{> ProfileMainInfo key="Повторите новый пароль" type="password" isEdit="true" name="again_new_password" }}
    {{else}}
        {{#if isEdit}}
            {{> ProfileMainInfo key="Почта" value=this.email type="email" isEdit="true" neme="email"}}
            {{> ProfileMainInfo key="Логин" value=this.login isEdit="true" name="login"}}
            {{> ProfileMainInfo key="Имя" value=this.name isEdit="true" name="first_ame"}}
            {{> ProfileMainInfo key="Фамилия" value=this.surname isEdit="true" name="last_name"}}
            {{> ProfileMainInfo key="Имя в чате" value=this.chatName isEdit="true" name="user_name"}}
            {{> ProfileMainInfo key="Телефон" type="phone" value=this.phone isLast='true' isEdit="true" name="phome"}}
        {{else}}
            {{> ProfileMainInfo key="Почта" value=this.email}}
            {{> ProfileMainInfo key="Логин" value=this.login}}
            {{> ProfileMainInfo key="Имя" value=this.name}}
            {{> ProfileMainInfo key="Фамилия" value=this.surname}}
            {{> ProfileMainInfo key="Имя в чате" value=this.chatName}}
            {{> ProfileMainInfo key="Телефон" value=this.phone isLast='true'}}
        {{/if}}
    {{/if}}
</div>
