<div class="profile__footer">
    {{> ProfileMainInfo key="Изменить данные" isButton='true' }}
    {{> ProfileMainInfo key="Изменить пароль" isButton='true' }}
    {{> ProfileMainInfo key="Выйти" isButton='true' isLast='true' }}
</div>
