<nav>
    <ul>
        <li><a href="#" data-page="login">Вход</a></li>
        <li><a href="#" data-page="registration">Регистрация</a></li>
        <li><a href="#" data-page="pageNotFound">404</a></li>
        <li><a href="#" data-page="serverError">500</a></li>
        <li><a href="#" data-page="chatList">Список чатов</a></li>
        <li><a href="#" data-page="profile">Профиль</a></li>
    </ul>
</nav>
