@import '@styles/variables';

.profile {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: $profile-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__avatar {
    padding-top: 60px;
  }

  &__user-name {
    padding-top: 21px;
  }

  &__main-info {
    padding-top: 60px;
  }

  &__button {
    width: 280px;
    padding-top: 40px;
  }
}
