/* Colors */
$light-color: #fff;
$color-bg-list: #fbfbfb;
$grey1: #eaeaea;
$grey2: #efefef;
$grey3: #f8f8f8;
$text-secondary-color: #999;
$primary-color: #3369f3;
$additional-color: #e4edfd;
$error-color: #ff2f2f;
$dark-color: #1e1e1e;
$dark-color2: rgb(82 82 82 / 50%);
$shadow: rgb(0 0 0 / 14%);

/* Font size */
$font-size-010: 40px;
$font-size-009: 20px;
$font-size-008: 16px;
$font-size-007: 15px;
$font-size-006: 14px;
$font-size-005: 13px;
$font-size-004: 12px;
$font-size-003: 11px;
$font-size-002: 9px;
$font-size-001: 8px;

/* Rounding */
$rounding-007: 5px;
$rounding-006: 10px;
$rounding-005: 50px;
$rounding-004: 30px;
$rounding-003: 12px;
$rounding-002: 8px;
$rounding-001: 50%;

/* Width of profile */
$profile-width: 510px;
