<div class="header">
    <div class="header_user">
        {{{ avatar }}}
        <p class="header_user__name">{{{ chatName }}}</p>
    </div>
    <div class="header_menu">
        {{{ burgerMenu }}}
    </div>
</div>
