@import '@styles/variables';

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;


  > ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    > .link > a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
